.alinear {
  display: flex;
}

.dropdown {
  margin-left: 3%;
}

@media screen and (max-width: 769px) {
  .alinear {
    display: block;
  }
  .dropdown {
    margin-left: 0%;
  }
}

.Botones-prompt i {
  margin: 10px 1px;
  padding: 10px 13px;
  border: 0.3px solid #dad8d8;
  border-radius: 3px;
  color: black;
}

.boton {
  text-align: center;
}

.contenido {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: center;
  padding: 0px 30rem;
}

#cambiaVista {
  display: none;
}

#cambiaVista:checked ~ contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
